:root {
    /*Variables mas usadas*/
    --color-nav: rgb(8 30 38 / 75%);
    --fondo:  #f08f84;
    --fondp-pagina: #8C262E;
    --nav-base:  #0b0c0d;
    --blanco: #FFFFFF;
    --negro: #000000;
    --hover-boton: #ffcd8a;
    /*Prrpiedad de la barra de naecgacion*/
    --transparente: rgb(0 0 0 / 0%);
    --texto-color-nav: #FCE2DB;
    --box-dark-grade: rgba(255, 255, 255, 0.7);
    /**/
    --negro: #000000;
    --fondo-main: #8C262E;
}
.bad {
	text-align: center;
	width: 100%;
	background-color: #a22;
	color: #fff
}

/*Navegacion de un valor (Solo Icono)*/
.nav-line {
    background-color: var(--nav-base);
    width: 100%;
    height: 5rem;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.empress-2 {
    padding: 1rem;
    font-size: 4rem;
    font-family: 'Square Peg', cursive;
    text-decoration: none;
    
}
/*Body*/
.body-l {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*CSS gridd*/



/*Fondo de Formulario*/
.formulario {
    width: 40rem;
    height: 20rem;
    border-radius: 1rem;
    padding: 5rem;
    background-color: var(--blanco);
    list-style: none;
}

/*fielset*/
.fieldset {
    border: none;
}

.fieldset legend, .fieldset label {
    text-transform: uppercase;
}

/*Boton*/
.boton:hover {
    background-color: var(-);
}