/*Hoja de Estilos de la Seccion de Registro (Register)*/
:root {
    --nav-base:  #0b0c0d;
}

/*Variables universales (Registar)*/
.flex-column {
    display: flex;
    flex-direction: column;

}

/*Navegacion de un valor (Solo Icono)*/
.nav-line {
    background-color: var(--nav-base);
    width: 100%;
    height: 5rem;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.empress-2 {
    padding: 1rem;
    font-size: 4rem;
    font-family: 'Square Peg', cursive;
    text-decoration: none;
    
}

/*Input*/
.contenedor-input {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

/*Body*/
.body-l {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Fondo de Formulario*/
.formulario {
    width: 70rem;
    height: 35rem;
    border-radius: 1rem;
    padding: 5rem;
    background-color: var(--blanco);
    list-style: none;
}

/*fielset*/
.fieldset {
    border: none;
}

.fieldset legend, .fieldset label {
    text-transform: uppercase;
}

/*Boton*/
.boton:hover {
    background-color: var(-);
}

.grupo, .campo-heading {
    display: flex;
}


/*Registrarse (Cuerpo)*/
.parte-r {
    margin: 0.5rem;
}

.usuario {
    margin-left: 3rem;
}

/*Heading*/
.heading {

}